@font-face {
  font-family: "AlexBrush-Regular";
  src: url(../font/Alex/AlexBrush-Regular.ttf);
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #00e6e4;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 99;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background-color: #555;
  transform: translateY(-3px);
}


body{
  background-color: #000;
  
}

.button{
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid #000;
  border-radius: 20px;
  color: #00e6e4;
  font-size: 2rem;
  font-weight: bold;
  font-family: "AlexBrush-Regular";
  height: 5rem;
  margin: 1rem auto;
  padding: .5rem;
  min-width: 20rem;
  max-width: 30rem;
  text-align: center;
}

.button:active {
  background-color: #000;
  box-shadow: 0 2px #000;
  border: 2px solid #00e6e4;
  transform: translateY(4px);
  color: #00e6e4;
}

.button:hover{
  
  background-color: black;
  opacity: 80%;
  border: 2px solid #00e6e4;
  border-radius: 20px;
  color: #00e6e4;
}

.cake_col1{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c); 
  /* background-size: cover; */
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.cake_img{
  
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  height: 150px;
  width: 150px;
}

.cake_img:hover{
  transform: scale(1.5);
  cursor: pointer;
  box-shadow: 0 2px #000;
  transition: transform 0.3s ease-in-out;
}

.cake_row1{
  align-items: center;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-wrap: wrap;
}

.contact-field {
  display: none !important;
  position: absolute !important;
  left: -9999px !important;
}

.contact-form{
  background-color: #000;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  text-wrap: wrap;
  width: 75%;
  margin: 1rem auto;
}

.contact-form input, textarea{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  color: #00e6e4;
  font-size: 1.5rem;
  padding: 1rem;
  width: 35%;
}

.contact-form textarea{
  height: 10rem;
  width: 35%;
  margin: 1rem;
  text-wrap: wrap;
  
}

.contact-form button{
  background-color: #00e6e4;
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  font-family: "AlexBrush-Regular";
  margin: 1rem;
  text-wrap: wrap;
  width: 12rem;
}

.contact-form button:hover{
  background-color: #000;
  border: 2px solid #00e6e4;
  border-radius: 20px;
  color: #00e6e4;
  font-size: 2rem;
  text-wrap: wrap;
  width: 12rem;
}

.contact-form button:active{
  background-color: #000;
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  color: #00e6e4;
  font-size: 2rem;
  width: 12rem;
}
/* contact button loader */

.submit-btn {
  border: 2px solid #000;
  position: relative;
  padding: 10px 20px;
  min-width: 120px;
}

.button-loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.submit-btn.loading .button-text {
  visibility: hidden;
}

.submit-btn.loading .button-loader {
  display: inline-block !important;
}

/* Optional: Disable button while loading */
.submit-btn.loading {
  cursor: not-allowed;
  opacity: 0.8;
}
/* contact button loader end */


.container{
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0 auto;
  max-height: fit-content;
  width: 95%;
}

.cookies_col1{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.cookies_col2{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.cookie_img3{
  background-image: url(../images/pexels-roman-odintsov-5845840.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img4{
  background-image: url(../images/pexels-alleksana-6431579.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img5{
  background-image: url(../images/fotor-ai-202410260525.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img6{
  background-image: url(../images/pexels-anete-lusina-18613512.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img7{
  background-image: url(../images/pexels-dima-valkov-1186343-3734027.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img8{
  background-image: url(../images/pexels-jill-wellington-1638660-3776942.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img9{
  background-image: url(../images/pexels-lucian-pirvu-4161529.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img10{
  background-image: url(../images/pexels-ozrenildo-1291712.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img11{
  background-image: url(../images/pexels-solodsha-8105105.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookie_img12{
  background-image: url(../images/pexels-skyler-ewing-266953-8927931.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.cookies_row1{
  align-items: center;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-wrap: wrap;
}

.cookies_row2{
  align-items: center;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-wrap: wrap;
}

.clear{
  clear: both;
}

.dcm_img1{
  background-image: url(../images/pexels-nicole-queiroz-156397350-13851938.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 150px;
  width: 100px;
}



.dcm_img2{
  background-image: url(../images/pexels-amaria-16406497.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 150px;
  width: 100px;
}

.dcm_img3{
  background-image: url(../images/pexels-darko-trajković-10718224.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 125px;
  width: 125px;
}

.dcm_img4{
  background-image: url(../images/pexels-marta-dzedyshko-2067396.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img5{
  background-image: url(../images/pexels-meryem-adak-11647298.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img6{
  background-image: url(../images/pexels-natalya-sh-83912098-10577830.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img7{
  background-image: url(../images/pexels-eric-mufasa-578798-1397309.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img8{
  background-image: url(../images/pexels-marta-dzedyshko-2067396.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img9{
  background-image: url(../images/pexels-ella-olsson-572949-3026810.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img10{
  background-image: url(../images/pexels-julias-torten-und-törtchen-7085396.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img11{
  background-image: url(../images/pexels-meryem-adak-11647298.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img12{
  background-image: url(../images/pexels-natalya-sh-83912098-10577830.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img13{
  background-image: url(../images/pexels-nishantaneja-2955820.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}

.dcm_img14{
  background-image: url(../images/pexels-pixabay-65882.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100px;
  width: 100px;
}


.drizzle{
  margin-top: 25rem;  
  padding: 1rem;
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  color: #00e6e4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* font-family: "AlexBrush-Regular"; */
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 1.5rem;
  height: auto;   
  text-align: center;
  margin: 5rem auto;
  padding: 1rem;
  width: 75%;
}

.drizzle1{
  align-content: center;
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  color: #00e6e4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* font-family: "AlexBrush-Regular"; */
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 1.5rem;
  height: auto;   
  text-align: center;
  margin: 1rem auto;
  padding: 1rem; 
  width: 75%;
}

.drizzle2{
  align-content: center;
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  color: #00e6e4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* font-family: "AlexBrush-Regular"; */
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 1.5rem;
  height: auto;   
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  margin: 5rem auto;
  padding: 1rem; 
  width: 75%;
}

.drizzle3{
  align-content: center;
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  color: #00e6e4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 1.5rem;
  height: auto;   
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  margin: 5rem auto;
  padding: 1rem; 
  width: 75%;
}

.Drizzled1{
  height: auto;
  width: auto;
}

.drizzled_delight{
  float: right;
}

.elegant-intro {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.3;
  color: #000;
  font-size: clamp(1rem, 2vw, 1.1rem);
  font-family: "sans-serif";
  font-weight: bold;
  margin: 0 auto;
  padding: 0 20px;
}

.fa-solid fa-user{
  /* float: right;  */
  font-family: "sans-serif"; 
  /* margin-right: 1rem; */
  color: #00e6e4;

  a:hover{
    color: #000;
  }
}

.fa-shoppingcart{
  float: right;
  margin-right: 1rem;
}

footer{
  background-color: #000;
  color: #00e6e4;
  position: relative;
  font-family: "AlexBrush-Regular";
  font-size: 1.5rem;
  font-weight: bold;
  left: 0;
  bottom: 0;
  text-align: center;
  width: auto !important;
}

h1{ 
  font-family: AlexBrush-Regular;  
  font-weight: bold;  
  color: #00e6e4;
  font-style: italic;
  text-align: center;    
  font-size: 4rem;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  width: auto !important;
}

h2{
  font-family: "AlexBrush-Regular";
  color: #00e6e4;
  font-weight: bold; 
  text-align: center;
  font-size: 3.3rem;
  width: auto !important;
}

.head_cakes{
  font-family: "AlexBrush-Regular";
  color: #00e6e4;
  font-weight: bold; 
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  width: auto !important;
}

.head_cookie{
  font-family: "AlexBrush-Regular";
  color: #00e6e4;
  font-weight: bold; 
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  width: auto !important;
}

.head_pies{
  font-family: "AlexBrush-Regular";
  color: #00e6e4;
  font-weight: bold; 
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  width: auto !important;
}

.hero-section {
  color: #000;
  margin-top: 2rem;
  text-align: center;
  padding: 3rem 1rem;
  background: linear-gradient(to left bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  width: 75%;
  margin: 1rem auto;
}

.hero-section h2 {
  font-family: "AlexBrush-Regular";
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  color: #00e6e4;
  margin-bottom: 1.5rem;
  width: 75%;
  margin: 1rem auto;
}

html{
  color-scheme: dark light;
}

hr{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  margin: 1rem auto;
  width: 75%;
}

#img:hover{
  cursor: pointer;
  transform: scale(2);
  transition: transform 0.3s ease-in-out;

}

main{
  background-color: #000;
  height: auto;
  width: 100%;
}

/* picture background with 3d scrolling  */
.master{ 
  /* background-image: url(../images/fotor-ai-2024102602318.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover, contain;
  height: auto;
  z-index: 1; */
  background-color: #000;
  width: 100%;
}

.navigation{
  height: auto;
  width: 80%;
  margin: 1rem auto;

  ul{
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 20px;
    padding: 1rem;
    background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
    font-family: "sans-serif";
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
  }

  li{
    display: inline;
    list-style-type: none; 
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }

  li a{
    color: #000;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none !important;
  }  
  
  li a:hover{
    color: #00e6e4;
  } 
  
  .active{
    color: #00e6e4;
    text-shadow: 0 0 10px #00e6e4, 0 0 20px #00e6e4;
    border-bottom: 2px solid #00e6e4;
    cursor: pointer;
  }

}





.pastry_col1{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c); 
  /* background-size: cover; */
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.pastry_col2{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c); 
  /* background-size: cover; */
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

pastry_col3{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c); 
  /* background-size: cover; */
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

pastry_col4{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c); 
  /* background-size: cover; */
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.pastry_row1{
  align-items: center;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-wrap: wrap;
}

.pastry_row2{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-wrap: wrap;
  width: auto;
}

.pastry_row3{
  align-items: center;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-wrap: wrap;
}

.pastry_row4{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
}

.phtext{
  color: #00e6e4;
  font-family: "sans-serif";
  font-size: 1.5rem;
  font-weight: bold;
  text-wrap: wrap;
}

.phtext2{
  color: #00e6e4;
  font-family: "sans-serif";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: .3rem;
  text-wrap: wrap;
}

.pie_col1{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c); 
  /* background-size: cover; */
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.pie_img{
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 150px;
  width: 150px;
}

.pie_img:hover{
  transform: scale(1.5);
  cursor: pointer;
  box-shadow: 0 2px #000;
  transition: transform 0.3s ease-in-out;
}

.pie_row1{
  align-items: center;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);    
  gap: 2rem;
  margin: 2rem;
  padding: 1rem;
  text-wrap: wrap;
}


.primary-header{ 
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c); 
  border-radius: 20px;
  height: auto;
  margin: 5rem auto 5rem auto;
  padding: 1rem;
  width: auto;
}



.responsive{
  width: 100%;
  height: auto;
}

.service-highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 75%;
  margin: 1rem auto;
}

.service-card {
  text-align: center;
  gap: 1rem;
  min-width: 300px;
  padding: 2rem;
  background: linear-gradient(to left bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  flex: 1;
  width: auto;
  margin: 1rem auto;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card i {
  font-size: 2.5rem;
  color: #00e6e4;
  margin-bottom: 1rem;
}

.service-card h3 {
  margin-bottom: 1.4rem;
  color: #000;
}

.service-card p {
  font-size: 1.2rem;
  color: #00e6e4;
}



.img{
  float: right;
  margin: 5px;
  height: 10em;
  width: 15em;
}

.img1{
  float: left;
  margin: 5px;
  height: 10em;
  width: 15em;
}

.img2{
  float: right;
  margin: 5px;
  height: 10em;
  width: 10em;
}

.img3{
  float: left;
  margin: 5px;
  height: 10em;
  width: 10em;
}

.img4{
  float: left;
  margin: 5px;
  height: 250px;
  width: 250px;
}

.img5{
  float: left;
  margin: 5px;
  height: 250px;
  width: 250px;
}

.img6{
  float: left;
  margin: 5px;
  height: 250px;
  width: 250px;
}

.img7{
  float: left;
  margin: 5px;
  height: 250px;
  width: 250px;
}

.img8{
  float: left;
  margin: 5px;
  height: 250px;
  width: 250px;
}

p{
  text-align: center;
  /* text-wrap: pretty; */
}

.tier-card{
  border: 1px solid rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #000000, #2f171e, #592437, #863151, #b73e6c, #ba3f6e, #be4171, #c14273, #97385c, #702d46, #4b2230, #28161c);
  color: #00e6e4;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-wrap: wrap;
}

.tier-title{
  color: #000;
  font-weight: bold;
}

.wcake_img{
  border-radius: 20px;
  display: block;
  margin: 1rem auto 1rem auto;
  height: 200px;
  width: 200px;
}

.wedding-link{
  text-decoration: none;
}

.wtp-title{
 margin-top: 2rem;
}

.wedding-tier-packages{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 1rem;
}

/* Base styles remain the same */

/* Media Queries */

@media screen and (max-width: 1366px) {
  .cake_row1, .cookies_row1, .cookies_row2, .pastry_row1, .pastry_row2, .pie_row1 {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      text-wrap: wrap;
      width: auto;

  }
  
  .drizzle, .drizzle1, .drizzle2, .drizzle3 {
      width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  body{
    background-color: yellow;
  }
  .cake_row1, .cookies_row1, .cookies_row2, .pastry_row1, .pastry_row2, .pie_row1 {
      grid-template-columns: repeat(3, 1fr);
  }
  
  .drizzle, .drizzle1, .drizzle2, .drizzle3 {
      width: 90%;
      margin: 1rem auto;
      font-size: auto;
      text-wrap: wrap;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}

@media screen and (max-width: 1050px) {
  body{
    background-color: red;
  }
  .cake_row1, .cookies_row1, .cookies_row2, .pastry_row1, .pastry_row2, .pie_row1 {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
      width: 90%;
  }

  .drizzle, .drizzle1, .drizzle2, .drizzle3, .primary-header, .navigation{
    width: 90%;
    margin: 1.2rem auto;
    float: none;
    text-align: center;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-form{
    width: 90%;
    margin: 1rem auto;
  }

  hr{
    width: 90%;
    margin: 1rem auto;
  } 

  .navigation{
    width: 90%;
    margin: 1rem auto;
  }


}

@media screen and (max-width: 992px) {
  body{
    background-color: blue;
  }
  .cake_row1, .cookies_row1, .cookies_row2, .pastry_row1, .pastry_row2, .pie_row1 {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      align-items: center;
      gap: 1rem;
      font-size: auto;
      text-wrap: wrap;
  }

  .button{
    font-size: 1.2rem;
    min-width: auto;
  }

  .drizzle, .drizzle1, .drizzle2, .drizzle3, img, img1, img2, img3{
    width: 90%;
    margin: .5rem auto 1rem auto;
    float: none;
    font-size: auto;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
  }

  h2{
    font-size: auto;
    width: 90%;
  }
  .hero-section{
    width: 90%;
    margin: 1rem auto;
  }

  .navigation{
    width: 90%;
    min-width: auto;
    justify-content: center;
    margin: .5rem auto;
    font-size: auto;
    text-wrap: wrap;
  }

  .navigation ul li {
      padding: 0.5rem;
      margin: 0.5rem;
      width: auto;
  }

  .navigation ul li a {
      font-size: 1.3rem;
  }

  .primary-header{
    width: 90%;
    margin: 1rem auto 0 auto;
  }

  h1 {
      font-size: auto;
  }

  h2 {
      font-size: auto;
  }

  hr{
    margin: 1rem auto;
    width: 90%;
  }

  .service-highlights{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      text-wrap: wrap;
  }

  .service-card{
    margin: 1rem auto;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .cake_row1, .cookies_row1, .cookies_row2, .pastry_row1, .pastry_row2, .pie_row1 {
      grid-template-columns: 1fr;
  }

  .drizzle, .drizzle1, .drizzle2, .drizzle3, img, img1, img2, img3 {
      width: 90%;
      margin: .5rem auto 1rem auto;
      float: none;
      font-size: auto;
      text-align: center;
      text-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .contact-form input, .contact-form textarea {
      width: auto;
  }

  .container{
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  footer{
    font-size: auto;
    width: auto;
  }

  .hero-section{
    width: 90%;
    display: flex;
    font-size: 1.75rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto 5px auto;
    height: 30rem;
  }

  h2{
    width: 90%;
  }

  img1{
    height: 150px;
    width: 150px;
  }

  .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: auto;
    width: 90%;
  }

  .navigation ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    margin-bottom: 0;
  }

  .navigation ul li {
      display: block;
      margin: 0.2rem 0;
      width: auto;
  }

  .phtext{
    font-size: 1.2rem;
  }

  .primary-header{
    width: auto;
    margin: 1rem auto 0 auto;
  }

  .button {
      min-width: 16rem;
      font-size: 1.5rem;
  }

  .button:hover{
    background-color: #000;
    color: #00e6e4;
  }

  hr{
    margin: 1rem auto;
    width: 90%;
  } 

  .service-highlights{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-wrap: wrap;
  }

  .service-card{
    margin: 1rem auto;
    width: auto;
  }


}