.admin_header{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #00e6e4;
}

body{
    background-color: #000;
    color: #00e6e4;
}

.admin_content{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00e6e4;
}

.admin_content p{
    font-size: 1rem;
    font-weight: normal;
    color: #00e6e4;
}